/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
	background-color: #eceff1;
	overflow-x: hidden;
	overflow-y: hidden;
}

#dashboard_container
{
	width: 1920px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.bg_image_container
{
	background-image: url(./background_images/background4.jpg);
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(70px);
	-o-filter: blur(70px);
	filter: blur(70px);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='70');
	background-size: cover;
}

.blur
{
  /* All the background image supports */
  background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0  background-image: url(./background_images/background4.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(70px);
  -o-filter: blur(70px);
  filter: blur(70px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='70');
  background-size: cover;%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(50px);
  -o-filter: blur(50px);
  filter: blur(50px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='70');
  top: -70px;
  right: -70px;
  left: -70px;
  padding: 70px;
}

.blur:after
{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-image: -webkit-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: -moz-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: -o-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  -webkit-filter: blur(70px);
  -o-filter: blur(70px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='70');
  filter: blur(70px);
}


#dashboard_content_container
{
    position: relative;
}

#wc
{
	display: inline-block;
}

body
{
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome and Opera */
}

#dashboard_header
{
	width: 100%;
	height: 80px;
    position: fixed;
	cursor: pointer;
	z-index: 10;
}

.header_spacer
{
	height: 80px;
}

.category_spacer
{
	height: 120px;
}

#dashboard_header
{
	background-color: #212121;
}

.dashboard_text
{
	font-family: 'Fira Sans Condensed', Arial;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
}

#dashboard_header_container
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	opacity: 1;
}

#dashboard_header_navigator
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
}

#dashboard_header_navigator
{
	font-weight: bold;
	margin-left: 50px;
	margin-top: 23px;
	font-size: 30px;
}

#dashboard_creator
{
	margin-left: 52px;
	margin-top: 10px;
	font-size: 13px;
	color: #F5F5F5;
}

#dashboard_title
{
	font-weight: bold;
	margin-left: 50px;
	margin-top: 15px;
	font-size: 25px;
}

#text_query
{
	width: 70px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#bar_count
{
	width: 70px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#fv_mutlibar_chart_container
{
	width: 700px;
	height: 850px;
}

#fv_word_clouds
{
	width: 1140px;
	height: 850px;
}

#fv_bubble_chart
{
	width: 900px;
	height: 850px;
}

#fv_wt_chart
{
	width: 900px;
	height: 850px;
}

.category_container
{
	width: 100%;
	height: 2000px;
}

.chart_container
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#mutlibar_chart_container
{
	width: 700px;
	height: 350px;
}

#bubble_div
{
	height: 480px;
	width: 920px;
}

#wt_container
{
	height: 480px;
	width: 920px;
}

#wt
{
	margin-left: 50px;
	margin-top: 25px;
	width: 800px;
	height: 375px;
	overflow: auto;
}

#word_clouds
{
	height: 350px;
	width: 1140px;
}

.graph_header
{
	width: 100%;
	height: 50px;
	background-color: #212121;
	opacity: 0.75;
	position:relative;
}

.graph_header_nav
{
	cursor: pointer;
}

.graph_header_nav:hover
{
	background-color: #E1F5FE;
}

.globe_text
{
	font-family: 'Barlow', serif;
	font-weight: bold;
	font-size: 13px;
}

.header_text, .hover_text
{
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
    font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 1px;
	color: #ffffff;
	font-size: 20px;
}

.hover_text
{
	font-weight: bold;
}

.header_text
{
	z-index:1;
	top: 0px;
	position: absolute;
}

.hover_text
{
	z-index:2;
	top: 0px;
	position: absolute;
	opacity: 0;
	color: #000000;
}

.graph_container
{
	height: 85%;
	width: 100%;
	display: block;
	background-color: #E0E0E0;
	opacity: 0.95;
}

.wc_text
{
	font-size: 20px;
	font: sans-serif;
}

.tick
{
	cursor: pointer;
}

.word
{
	cursor: pointer;
}

.axis path, .axis line
{
	fill: none;
	stroke: #000;
}

path.domain
{
	stroke: none;
}

.y .tick line
{
	stroke: #ddd;
}