.bubble_tooltip {
	position: absolute;
	text-align: center;
	padding: 10px;
	font: 12px sans-serif;
	border: 0px;
	pointer-events: none;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px #000000;
}

.bubble_tooltip p {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.bubble_tooltip,
.bubble_node text {
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}